﻿@model EnjoyDigitalUniversity.ViewModels.CourseViewModel
<div class="row clearfix">
  <div class="col-md-12 column">
      <div>
          <h1>@Model.Title</h1>
          <h2>@Model.Department</h2>
          <p>@Model.BodyText</p>
          
      </div>   
  </div>
</div>


